![ineuron](https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png)

<h1 align='center'>Python Basic Assignment 1</h1>

### 1. What are the differences between operators and values in the following?
    
    *
    
    'hello'
    
    -87.8
    
    -
    
    /
    
    +
    
    6
    
    
#### Answer 
- Operators is use to perform operation on values. There are different types of operators are available such as:

    - Arithmetic Operators : +, - , *, /, %, etc which is used to perform arithmetic operations like addition, subtraction, multiplication and division. 
    - Comparison Operators :  == (equal to), !=(not equal to) ,<= (less than equal to),>= (greater than equal to)etc which is used to compare two values.
    - Logical Operators : AND, OR, NOT are used on conditional statements such as True or False.
    

- Now, we take a look at given operator and values,


    -	*is a Arithmetic operator which is use for multiplication.
                Ex: 4*5 = 20 , ‘R’*3=RRR  
        
    -     'hello' is a value of string data type
    
    - 	-87.8 is a negative value of floating data type
    
    - 	(-) is a Arithmetic operator which is use for subtraction
                Ex: 8-5=3 , 5-2 = 3
    
    - 	/ i s a Arithmetic operator which is use for division and return floating quotient and ‘//’ return integer quotient.
                Ex: 8/2 = 4.0 , 8//2 = 4

    - 	+ it is also a Arithmetic operator which is use for addition and string concatenation
                Ex: 4+5=9(Addition), ‘Data’+’Science’ = DataSciece(string concatenation)
    
    -	6 is a value of integer data type


- Let's execute some code and understand about operators and values

In [1]:
print(4 * 3) #expected output 12

print('Data'*5) # DataDataDataDataData

print(8/2) # 4.0

print(10//3) # 3

print(type(-87.8)) # float

print(True and True) # True

print(not True)  # False

12
DataDataDataDataData
4.0
3
<class 'float'>
True
False

### 2. What is the difference between string and variable?
spam

'spam'

#### Answer => 

- Character data type in other programming languages is name as String data type(str) in Python. 
- Character, number, equation, etc is written in single quotes or double quotes is always belongs to string and having string (str) data types. 

    Ex:
 
 
    - ‘spam’=It is a collection of character and written in single quote therefor it is having String data type.
    - ‘12345’ = 12345 is a integer data type but it written in single quote therefor it is having String data type.
    - “True” = True is a boolean data type but it written in double quote therefor it is having String data type.



- Variable is a name which is assigned to memory location to store value. There are some rules which we need to follow before creating any variable: 


    - Variable name always start with alphabet or underscore (_).
	- Default function name or Keyword are not used as a variable name.
	- Make sure your variable name is descriptive (for better understanding) 

    Ex:
        - num = 10 , name = ‘Data’ , for = ‘error’

- Here we created a variable such as num, name, for and assign some values. when we run it num and name run successfully  but for is through an error because we used for as a variable name you can change it or add add underscore before variable name . 
_for = ‘error’

In [2]:
# Example of String

print("This is string")
print('1234 & True it is also string')

#Example of Variable

var = 'This is string which is assign to variable var' # here 'This is string' is a string which is assigned to variable 'var'
print(var)

This is string
1234 & True it is also string
This is string which is assign to variable var

### 3. Describe three different data forms.

#### Answer =>

    Before going to understand data types we need to know what is variables. Variable is a reserved memory location which is used to store values. It meand it take some space in the memory. How much memory required to store specific variable is depend on data type of that variable. In python declaration happen automatically when we assign value to variable.

There are some standard data types :
   - characters 
        - str : It only which is belogns to characters, Anything whcih is written in single or double quotes are consider as a string data type. We are able to perform slicing on string using '[]'. Str() function is use to convert valus to str type.
            Ex: 'Data' , "Science"
 
 
   - Number :
        - int : It stored integer values,integer is a whole number it may be positive or negative. int() function is used to convert values in int type. In python, integers are represented as long intergers.
                Ex : 4244 , -2142 
        
        - float : It store floating values,float is used to represent real number and is having decimal point. float() function is used to convert values to floating type.
                Ex : 5.34 , 3.2+e12
                
        - Complex : It is a pair of real and imaginary values, x + yj here x , y are real number and j is a imaginary unit. while declearning complex number make sure you only use 'j' as imaginary unit. complex() function is use to convert values to complex type.
                Ex : 4 + 5j , 4.32 - 0.233j
                
                
   - Boolen : 
       - bool : It hold only two built in values one is True and other one is Flase. It is mainly focus on logic. While denoting  True or Flase make sure 'T' and 'F' must be capital else it throw an error.
               Ex : True , False

In [3]:
#Character data type

print("- Character data type :: \n")
a = 'Full Stack Data Science'
print("{} it is of {} data type".format(a,type(a))) #print variable a and find type
print(a[4:10])  # access char from index 4-10
print(a[-1]) # access last char
print(a[::2]) # access char with step 2
num = 1224 
print('Type of {}\nbefore using str functin is : {}  |  after using str functin is : {}'.format(num,type(num),type(str(num))))
print('\n ****************** \n')



#integer Data types

print("- Integer Data types\n")
a = 342
b = -342
print(a *  b) #perform multiplication
print(a + b) #perform addition
num = 21.223
print('Type of {} Before applying int() : {} After applying int() {}'.format(num,type(num),type(int(num))))
print('\n ****************** \n')

#floatinf data types

print("- Floating Data types\n")
a = 4.23
b = 54
print(b / a) #perform division and get float
print(b // a) #perform division and get int
num = 2132242
print('Type of {} Before applying int() : {} After applying int() {}'.format(num,type(num),type(float(num))))
print('\n ****************** \n')




#complex data types

print("- Complex Data types\n")
a = 4.23
b = 54
print(complex(a))  # conver int/float to complex
# when we pass single arg it consider as a real number X and y set to 0 
print(complex(a,b))
# when we pass two argg then first is X and second is to y

- Character data type ::

Full Stack Data Science it is of <class 'str'> data type
 Stack
e
Fl tc aaSine
Type of 1224
before using str functin is : <class 'int'>  |  after using str functin is : <class 'str'>

 ******************

- Integer Data types

-116964
0
Type of 21.223 Before applying int() : <class 'float'> After applying int() <class 'int'>

 ******************

- Floating Data types

12.765957446808509
12.0
Type of 2132242 Before applying int() : <class 'int'> After applying int() <class 'float'>

 ******************

- Complex Data types

(4.23+0j)
(4.23+54j)

### 4. What is an expression made up of? What do all expressions do?

#### Answer =>

- Expression is anything that has a values such as number, string, etc.
- Expression can contain operator such as +, -, etc.
- We can say that exptession is made up of any values such as number, string , etc as well as it contain operator to perform operation on values and gives output as single value.
- for creating any expressions we need to have two values and one operator which gives a result in the form of single value.

         Eg:
             - 1 + 4 
             - 'Data'*3
          
- Expression is able to do operation on values and produce a single output

In [4]:
1 + 4

5

In [5]:
'Data' * 3

'DataDataData'

In [6]:
True + True

2

In [7]:
False or True

True

### 5. In this chapter introduced assignment statements, like spam = 10. What's the difference between an expression and a statement?

#### Answer =>

- Expression is a made up of any values such as number, string , etc as well as it contain operator to perform operation on values and gives output as single value.
        
- Statement is made up of one or more expressions and it represent an action or command.
    
             ex :
                x = 5       # it is statement
                1 + x       # it is expression
                y = 6 + x   # it is statement

In [8]:
x = 5

In [9]:
1 + x

6

In [10]:
y = 6  + x

In [11]:
print(y) # it is also a statement

11

### 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

#### Answer => 

- In this code first we assign a values 22 to the variable bacon, 
- Then we add 1 to the bacon which hold a values 22,
- But we can’t assign this updated value to the bacon variable so bacon contain 22.

In [12]:
bacon = 22 #assign a values 22 to the variable bacon
bacon +1 #add 1 to the bacon which hold a values 22
print(bacon) #But we can’t assign this updated value to the bacon variable so bacon contain 22.

22

### 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

#### Answer = >

- In 1st terms we are performing concatenation operation with two strings one is 'spam' and other is 'spamspam' after performing a concatenation we get an answer : spamspamspam

- In 2nd terms we are performing arithmetic operation with 'spam' here we are perform multiplication 3 times on ‘spam’ and get an same answer : spamspamspam

In [13]:
# 1st term
print('spam' + 'spamspam')     # performing a concatenation we get an answer : spamspamspam

#2nd term
print('spam' * 3)      #perform multiplication 3 times on ‘spam’ and get an same answer : spamspamspam

spamspamspam
spamspamspam

### 8. Why is it that eggs is a true variable name but 100 is not?

#### Answer=>
While creating a new variable we need to follow some rules: 
    
    1.	Variable name always start with alphabet or underscore (_).
    2.	Default function name or Keyword are not used as a variable name.
    3.	Make sure your variable name is descriptive (for better understanding) 

Here, eggs is start with alphabet  and eggs is not a keyword or function in python therefor it is true variable name but 100 is start from number it’s breaked rule so it is not a true variable.

In [14]:
eggs = 'valid variable'

# 100 = 'invalid variable' 
# you can write 

_100 = 'valid variable'

### 9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?


#### Answer =>

- Python provided a function which helps to convert a value to an integer, a floating-point number, or a string. 
    
    - For integer : 
        
        int(values/variable) function is use for converting any number to integer.
            Ex: 	int(4.30) = 4
    - For floating :
    
        Float(values/variable) function is use for converting any number to float.
            Ex: 	a = 3
                    float(a)= 3.0 
    - For String:
        
         Str(values/variable) function is used to convert any number, boolean, etc to string.
            Ex:	     str(2002) = 2002(dtype is str)

In [15]:
#Convert a values to an integer
print('Example to Convert a values to an integer : ')
print(int(3.432),type(int(3.432)))
a = 4.14
print(int(a),type(int(a)))

#Convert a values to an float
print('\nExample to Convert a values to an float : ')
print(float(3),type(float(3)))
a = 4
print(float(a),type(float(a)))


#Convert a values to an string
print('\nExample to Convert a values to an integer : ')
print(str(43.2),type(str(43.2)))
a = True
print(str(a))

print("Data type of True is Boolean but here we convert it into str : {}".format(type(str(a))))

Example to Convert a values to an integer :
3 <class 'int'>
4 <class 'int'>

Example to Convert a values to an float :
3.0 <class 'float'>
4.0 <class 'float'>

Example to Convert a values to an integer :
43.2 <class 'str'>
True
Data type of True is Boolean but here we convert it into str : <class 'str'>

### 10. What is the error caused by this expression? What would you do about it?
'I have eaten ' + 99 + ' burritos.'

#### Answer =>

In above code we are trying to concat string data type values with integer data type values but it is not possible to perform it in this way.

- Numbers is always be added using '+' operator and string always be concatenating using '+' operator.

- It is not possible to do both at same time or not possible to perform number + string directly. 

- For performing addition/ concatenation of string and number we need to convert number to string using string(str()) function or writing number in single quote('_') or double quotes("_").


    - Solutions : 
        1.	'I have eaten ' + str(99) + ' burritos.'
        2.	'I have eaten ' + ‘99’ + ' burritos.’

In [16]:
print('I have eaten ' + 99 + ' burritos.')

TypeError: can only concatenate str (not "int") to str

In [17]:
#solution

print('I have eaten ' + str(99) + ' burritos.')
print('\nI have eaten ' + '99' + ' burritos.')

I have eaten 99 burritos.

I have eaten 99 burritos.

<h1 align='right'>Thank You!