![ineuron](https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png)

<h1 align='center'>Python Basic Assignment 4</h1>

### 1. What exactly is []?

#### Answer :
    - We studied that anything written in single or double quotes is consider as string.
    - Like this anything which is written in [] is consider as list.
    - So we can say that [] is a notation of list.
    - List is a data Data Structure in python.
    - List can be contain anything like integer, string, float, list, tuple, dict, etc.
    - List is a mulable, you can able to perform indexing operation on it.

        Eg : 
            l1 = [21,'r',5.35,'data science',['this','is',2,'list']]

    - we can create a list using by passing elemet in list() function

        Eg:
            l2 = list(range(0,10))

    - we also able to create an empty list
        Eg:
            l3 = []

In [1]:
#creating an empty list
l = []

In [2]:
type(l)

list

In [3]:
l1 = [21,'r',5.35,'data science',['this','is',2,'list']]

In [4]:
l1

[21, 'r', 5.35, 'data science', ['this', 'is', 2, 'list']]

In [5]:
#check type of l1
type(l1)

list

In [6]:
l2 = list(range(1,10))

In [7]:
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
type(l2)

list

### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

#### Answer :
    - spam = [2, 4, 6, 8, 10] 

    - Here, we have a list spam = [2, 4, 6, 8, 10] 
    - Our task is to assign a value 'Hello' to third value in list
    - In our list third value is 6 having index 2
    - Therefore, spam[2] = 'hello'

In [9]:
spam = [2, 4, 6, 8, 10] 
spam[2] = 'Hello'

In [10]:
spam

[2, 4, 'Hello', 8, 10]

- ## Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [11]:
spam = ['a','b','c','d']

### 3. What is the value of spam[int(int('3' * 2) / 11)]?

#### Answer :
   
   - spam = ['a','b','c','d']
   - we want to find value of spam[int(int('3' * 2) / 11)]
       
       - first we need to solve : int(int('3' * 2) / 11)
                   
                   - '3'*2, '3' is a string and here we perform multipication on string for we get an answer is '33'
                   - int('3'*2) = int('33') here, int fun convert '33' string to int 33
                   - int('3'*2)/11 = 33/11 , here we divide 33 by 11 and get a quotient 3.0
                   - int(int('3' * 2) / 11) = int(3.0) here, we convert floating value 3.0 to integer 3
                   - spam[int(int('3' * 2) / 11) = spam[3] now our equation is simplified 
                   - we easily say that we want to find value which is at index 3
                   - In python indexing is start from 0 to n-1
                   - Value at index 3 in spam is 'd' so :
        - final output is 'd'

In [12]:
spam[int(int('3' * 2) / 11)]

'd'

### 4. What is the value of spam[-1]?

#### Answer :

- We can perform indexing on list,there are two ways first is positive indexing other is negative indexing
    - Positive indexing is start from 0 and end with n-1 
    - Negative indexing is start from -n and end with -1
    - where n is a length of list

- In given question we have a list spam and want to find value at index -1
- We stuied that -1 is a end index of negative indexing 
- Therefore Final output is : 'd' whiich is last index of spam list

![Indexing](https://github.com/Rushi21-kesh/Full-Stack-Data-Science/blob/main/Full%20Stack%20Data%20Science/Assignments/Python%20Basic/indexing.png?raw=true)

In [13]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

#### Answer : 

- spam is list and want to find values at index [:2]
- we use : when we have multiple indexes and need to find there values
- when [:] is present it means all or start to end or find value of every index
        Eg:
            spam[:] = it return all values at every index
            
- we can also modify it by passing starting and ending index as per requirement
        Eg:
            spam[2:] = it retur all values starting from index 2 till end of index
            
            spam[:2] = it retur all values starting from start and end till n-1,where n is required end index 
            
- Our final output is value which is present at index 0 and 1,this values are 'a' , 'b' .

In [14]:
spam[:2]

['a', 'b']

- ## Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [15]:
bacon = [3.14, 'cat,' 11, 'cat,' True]

SyntaxError: invalid syntax (<ipython-input-15-c9021780b8dc>, line 1)

## *Note* : 

- Given provided list having invalid systax as we seen above
- I'm assuming it happned by mistake, I'm solving this syntax error and I'm moving forword

In [16]:
bacon =[3.14, 'cat', 11, 'cat', True]

### 6. What is the value of bacon.index('cat')?

#### Answr :
   - Here we have an list named bacon and want to find index of value 'cat' using .index() fun.
   - In bacon 'cat' value are present two times first at index 1 and secondly at index 3.
   - .index() function return a index of first occurrence of specific value
   - In given condition we want to find index of 'cat', but 'cat' is present two times.
   - So .index() function return index of 'cat' when it occurred first, fist index of 'cat' is 1
       
           
           - Final output is 1.

In [17]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

#### Answer : 

   - Our current bacon list contain [3.14, 'cat', 11, 'cat', True]
   - Meaning of append is start adding at position where we end writting previously
   - Here .append() function is help to append values in list at last position
   - After performing .append(99) on bacon list we get : 
       
       new bacon list [3.14, 'cat', 11, 'cat', True, 99]

In [18]:
bacon.append(99)

In [19]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

#### Answer : 

- .remove() function remove that value at first occurrence 
- bacon.remove('cat') will remove that 'cat' value in bacon list when it occurred first and update bacon list
- Final bacon is : [3.14, 11, 'cat', True, 99]

In [20]:
bacon.remove('cat')

In [21]:
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

#### Answer :

- *list concatenation :*
            - list concatenation in simply means adding two or multiple lists
            - for concatenation we use '+' operator
                
                Eg:
                    l1 = [2,4,6]                   #list 1
                    l2 = ['a','b','c']             #list 2
                    l1  + l2                       # perform list concatenation
                    [2, 4, 6, 'a', 'b', 'c']       #output
                    
- *list replication :*
            - list replication measn multiplying list with any integer 
            - for list replication we use '*' operator
                
                Eg:
                    l = [1,2,3]                       #list 1
                    l  * 3                            # perform list replication
                    [1, 2, 3, 1, 2, 3, 1, 2, 3]       #output

- List Concatenation :

In [22]:
l1 = [2,4,6]
l2 = ['a','b','c']

In [23]:
l1  + l2

[2, 4, 6, 'a', 'b', 'c']

- List Replication :

In [24]:
l = [1,2,3]
l * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 10. What is difference between the list methods append() and insert()?

#### Answer :

- Both append() and insert() methods are use for adding values in list
- But difference is that : 

    - append is add value to the end of the list
    
        Eg:
           l = [1,2,3,4,5,6]            # list
           l.append(100)                # append 100 in list l
           [1, 2, 3, 4, 5, 6, 100]      # Output
           
    - insert is add value at any specified index of the list
    
        Eg:
           l = [1, 2, 3, 4, 5, 6]       # list
           l.insert(2,0)                # insert 0 at index 2 in list l
           [1, 2, 0, 4, 5, 6]           # output

In [25]:
l = [1,2,3,4,5,6] 

# append 100 in list l 
l.append(100)
l

[1, 2, 3, 4, 5, 6, 100]

In [26]:
l = [1,2,3,4,5,6] 

# insert 0 at index 2 in list l
l.insert(2,0)
l

[1, 2, 0, 3, 4, 5, 6]

### 11. What are the two methods for removing items from a list?

- remove() and pop() this are the two methods are usew to remove items from list

- remove() method take a value as parameter and remove first occurrence of value.
    
    Eg:
        
        l = [3, 1, 2, 3, 4, 5, 6]  #list
        l.remove()                 # remove 3 from list
        [1, 2, 3, 4, 5, 6]         # output
        
        - Here remove funtion remove 3 from index 0 which is occurred first
    
    
- pop() method by default remove last elemet in the list or ypou need to pass index of value.
    
    Eg 1. :
        
        l = [1, 2, 3, 4, 5, 6]  #list
        l.pop()                 # use pop
        [1, 2, 3, 4, 5]         # output
        
        - Here, pop funtion remove 6 which is present at last index
       
    Eg 2. :
        
        l = [1, 2, 3, 4, 5]     #list
        l.pop(2)                # use pop
        [1, 2, 4, 5]            # output
        
        - Here, pop funtion remove 3 which is present at 2nd index

In [27]:
l = [3, 1, 2, 3, 4, 5, 6]
l.remove(3)
l

[1, 2, 3, 4, 5, 6]

In [28]:
l = [1, 2, 3, 4, 5, 6]
l.pop()
l

[1, 2, 3, 4, 5]

In [29]:
l.pop(2)
l

[1, 2, 4, 5]

### 12. Describe how list values and string values are identical.

- In both list and string 
    - we are able to perform list concatenation and list replication 
    - we can get length using len() function
    - we are able to perform indexing and sclicing operation
    - membership (in/not in) operator is work in both
    - support for loop

In [30]:
l = [1,2,3,'a','b','c']
s = 'datascience'

In [31]:
# len()
print("length of list is : {}\nlength of string is : {}".format(len(l),len(s)))

length of list is : 6
length of string is : 11

In [32]:
# list replication
print(l*2)
print(s*2)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']
datasciencedatascience

In [33]:
# membership (in/not in) operator
print(1 in l)
print('data' in s)

True
True

In [34]:
# for loop
for i in l:
    print(i,end=' ')
    
print('\n','='*20)

for i in s:
    print(i,end=' ')

1 2 3 a b c
 ====================
d a t a s c i e n c e

### 13. What's the difference between tuples and lists?

- List and tuple both are the data structures in python
- Both are the collection of same and different data types values

- Differences are follows :
    
    - list is denoted as [] and tuple is denoted as ()
    - we can perform changes inlist therefore list is mutable and we can't perform changes in tuple therefore tuple is immutable

### 14. How do you type a tuple value that only contains the integer 42?

#### Answer :
    - We studied anything written in () is tuple
    - But when we pass single values in () it consider it as simple value
    - And if we write multiple values in () it consider it as tuple
    - for creating a tuple with single value we need to just give a , after value
         Eg :
             (42)  # if we check type of this it return int
             (42,) # if we check tyoe of this it return tuple

In [35]:
print('type of (42) is : ',type((42)))
print('type of (42,) is : ',type((42,)))

type of (42) is :  <class 'int'>
type of (42,) is :  <class 'tuple'>

### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

- We need to use their functions
- For getting a list value's tuple form we need to use tuple() function
    Eg:
            # this is list
            lst = [1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']
            # use function
            tuple(lst)
            #output
            (1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')
            
- For getting a tuple value's list form we need to use list() function
    Eg:
            # this is tuple
            tup = (1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')
            # use function
            list(tup)
            #output
            [1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [36]:
# Converting list to tuple : 

# list
lst = [1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

#function use to convert list -> tuple
tup = tuple(lst)

#result
tup

(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

In [37]:
# Converting tuple to list

#tuple
tupl = (1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

#function used to convert tuple -> list
listt= list(tupl)

#result
listt

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

- List is a collection of heterogeneous data types it can be contain string, number, tuple, complex number also list contain lists, etc.

Eg:

    lst = [1,5,"data",6.45,['a','b',1],True]

In [38]:
lst = [1,5,"data",6.45,['a','b',1],True]
lst

[1, 5, 'data', 6.45, ['a', 'b', 1], True]

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

#### Answer :

- While performing copy.copy() and copy.deepcopy() data must be collection because collection of data are mutable.

- Difference between copy.copy() and copy.deepcopy():


    - copy.copy() is called as Shallow copy and copy.deepcopy() is called as Deep copy to perform this we need to import copy module

    - In shallow copy refrance of the object is copied to other object and in deep copy object is copied into other object

    - In shallow copy any change made in copy of object is reflect to original object and in deep copy object do not reflect original object

In [39]:
# import copy module
import copy

In [40]:
# perform shallow copy
lst1 = [1,2,[7,3],4]
lst2 = copy.copy(lst1)
print(lst1,lst2)
lst2[2][1] = 'replace'
print(lst1,lst2)

[1, 2, [7, 3], 4] [1, 2, [7, 3], 4]
[1, 2, [7, 'replace'], 4] [1, 2, [7, 'replace'], 4]

Here, we made a change in copy of object lst1 that is lst2 and we see that it reflect to original object.

In [41]:
# perform deep copy
lst1 = [1,2,[7,3],4]
lst2 = copy.deepcopy(lst1)
print(lst1,lst2)
lst2[2][1] = 'replace'
print(lst1,lst2)

[1, 2, [7, 3], 4] [1, 2, [7, 3], 4]
[1, 2, [7, 3], 4] [1, 2, [7, 'replace'], 4]


Here, we made a change in copy of object and we see that it does't reflect to original object.

<h3 align='right'>Thank You!..